
.DS_Store
*.xcuserstate
*.pbxproj
*.xcbkptlist
iOSApp/Fuel Compense/Fuel Compense.xcodeproj/xcuserdata/sergioalmendrocerda.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
iOSApp/Fuel Compense/Fuel Compense.xcodeproj/xcuserdata/sergioalmendrocerda.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcbkptlist
